/**********Style Globaux**********/
body {
  color: black;
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  background-color: green;
}

h2 {
  font-size: 1.7em;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.1rem;
  margin: 5rem 0 5rem 0;
}

h2.parallaxTitle {
  padding: 10px 10px;
  margin: 5rem 0 5rem 0;
  background-color: rgba(255, 255, 255, 0.815);
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  border: none;
}
.parallax-mirror {
  opacity: 0.8;
}

span.icon {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100px;
  width: 100px;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  background: #fff;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
}

span.icon img {
  max-width: 49px;
}

/************************ Header *****************************/

header .navbar {
  background-color: rgb(46, 45, 45);
  font-size: 18px;
}

header .navbar a {
  margin: 0px 20px;
  color: white;
}

@media (min-width: 768px) {
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all 0.5s !important;
  }

  nav.stroke ul li a {
    position: relative;
  }
  nav.stroke ul li a:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #fff;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
}

.navbar-toggler {
  border-color: white;
}
.navbar-toggler-icon {
  background-color: white;
  border: none;
  outline: none;
}

.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background-color: white;
}
.navbar-toggler span + span {
  margin-top: 6px;
  width: 18px;
  margin-left: 4px;
}

.navbar-toggler span + span + span {
  width: 14px;
  margin-left: 8px;
}

.parallax {
  background: transparent;
}

.parallaxHeader {
  position: relative;
  margin-bottom: 100px;
}

header .text {
  height: 70vh;
}

header h1 {
  font-size: 5em;
}
header h1 #firstName {
  letter-spacing: 0.1em;
}

header .text p {
  font-size: 1.3em;
  text-align: center;
}

@media (max-width: 420px) {
  header h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.2em;
  }
}

/****************************** Bio ****************************/

#bio {
  margin-bottom: 100px;
}
#bio img {
  height: 200px;
  margin-right: 50px;
}

#bio article p {
  text-align: justify;
}

#cv {
  margin-top: 50px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.5s;
  border: rgb(82, 82, 82) 1px solid;
}

#cv:hover {
  color: #fff;
  background-color: rgb(82, 82, 82);
}

/************************* Ecosystème ******************************/

.parallaxTech {
  padding: 0% 0% 5rem 0%;
  position: relative;
}

.containerLeft {
  position: relative;
  width: 50%;
}

#tech .containerShadow {
  background-color: rgba(255, 255, 255, 0.815);

  height: 550px;
  width: 550px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
}

#tech #logoContainer {
  position: relative;
  width: 80%;
  height: 80%;
}

#tech #logoContainer img {
  position: absolute;
  transform: translate(-50%, -50%);
}
#tech #img1 {
  width: 30%;
}
#tech #img2 {
  width: 23%;
}
#tech #img3 {
  width: 20%;
}
#tech #img4 {
  width: 25%;
}
#tech #img5 {
  width: 25%;
}
#tech #img6 {
  width: 33%;
}
#tech #img7 {
  width: 25%;
}
#tech #img8 {
  width: 20%;
}

/* ************* Valeurs ********* */

#tech article {
  width: 50%;
}
#tech article .textValeur {
  background-color: rgba(255, 255, 255, 0.795);
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  height: 550px;
  width: 550px;
  border-radius: 10px;
  padding: 30px 20px;
}

#tech article .textValeur .wrapValeur div {
  display: flex;
  align-items: flex-end;
  margin-top: 15px;
}

#tech article .textValeur .wrapValeur:first-child div {
  margin-top: 0px;
}

#tech article .textValeur .iconValeur img {
  width: 40px;
  margin-right: 10px;
}
#tech article .textValeur .iconValeur h3 {
  margin: 0px 0px;
}
#tech article .textValeur p {
  margin: 15px 0px 0px 0px;
}

@media (max-width: 420px) {
  #tech .containerShadow {
    width: 300px;
    height: 300px;
  }
  #tech article .textValeur {
    width: 300px;
    height: inherit;
  }
}

@media (min-width: 421px) and (max-width: 550px) {
  #tech .containerShadow {
    width: 350px;
    height: 350px;
  }
  #tech article .textValeur {
    width: 350px;
  }
}

@media (min-width: 551px) and (max-width: 700px) {
  #tech .containerShadow {
    width: 450px;
    height: 450px;
  }
  #tech article .textValeur {
    width: 450px;
  }
}

@media (max-width: 1200px) {
  .parallaxTech {
    height: unset;
  }
  #tech .containerLeft {
    height: 100%;
    margin: auto auto 5rem auto;
  }
  #tech article {
    width: unset;
  }
}
@media (max-width: 545px) {
  #tech article .textValeur img {
    height: 25px;
  }
}

/************* Caroussel ********** */
#carousel{
  background-color: yellow;
}
.carousel__root{
  position: relative;
  overflow: hidden;
}

/* clear fix */
.carousel__panorama::after{
  content:'';
  clear:both;
  display: table;
}

.carousel__item{
  float:left;

}
.carousel__item img{  
  display:block;
  width:80%;
  height:auto;
}

.item{
  background-color: #ff4b5a;
}

.fas{
  position: absolute;
  z-index: 1111;
  border-radius: 50%;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  cursor: pointer;
} 

.fa-angle-left{
  right: auto;
  /* left: -20px ; */
}
/* #caroussel {
  height: 100%;
  position: relative;
  margin-bottom: 5rem;
}

.myContainer {
  max-width: 95%;
  margin: auto auto;
}

#caroussel .carousselContainer .item {
  width: 250px;
  margin: 50px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#caroussel .carousselContainer .item img {
  width: 100%;
  min-height: 70%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */
/* 
#caroussel .carousselContainer .item h3 {
  margin-top: 20px;
}
#caroussel .carousselContainer .item p {
  margin: 20px 5px 0px 5px;
} */

/* Resoud le bug de la fin de cycle de la track */
.slick-track {
  transition: fade 2000ms ease-out;
}
/* ************************************** */

.slick-slide {
  transform: scale(0.8);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.slick-center {
  transform: scale(1);
}

.arrowPrev,
.arrowNext {
  position: absolute;
  width: 40px;
  top: 50%;
  z-index: 100;
}

.arrowPrev {
  right: 3%;
}
.arrowNext {
  left: 3%;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 80px;
}

@media (max-width: 600px) {
  #caroussel .carousselContainer .item p {
    display: none;
  }
  .arrowPrev,
  .arrowNext {
    display: none !important;
  }
}

/* ************************Caroussel link ********************** */

#caroussel .carousselContainer .item div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
  padding: 15px;
}
#caroussel .carousselContainer .item a:first-child {
  display: inline-block;
}

#caroussel .carousselContainer .item div img {
  width: 30px;
  height: auto;
}

/* ************************** Contact ****************************** */

#contact h2 {
  margin: 60px 0px 100px 0px;
}

#contact .wrapContact {
  width: 100%;
}
@media (max-width: 768px) {
  .parallaxContact {
    margin-top: 100px;
  }
}

/* ********************* Formulaire ******************************** */

#contact .wrapContact .wrapForm {
  width: 600px;
  position: relative;
  padding: 92px 70px 70px 70px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.815);
}

#contact .wrapContact .wrapForm .validate-form span {
  display: flex;
  font-size: 1.2em;
  line-height: 1.2;
  padding-bottom: 43px;
}

@media (max-width: 992px) {
  #contact .wrapContact .wrapForm {
    margin-bottom: 150px;
  }
}

@media (max-width: 700px) {
  #contact .wrapContact .wrapForm {
    width: 500px;
  }
}
@media (max-width: 545px) {
  #contact .wrapContact .wrapForm .validate-form span {
    font-size: 2rem;
  }
  #contact .wrapContact .wrapForm {
    width: 400px;
    padding: 92px 8% 40px 8%;
  }
}
@media (max-width: 460px) {
  #contact .wrapContact .wrapForm {
    width: 300px;
  }
}
@media (min-width: 993px) {
  #contact .wrapContact .wrapForm {
    margin-bottom: 80px;
  }
}
/*------------------------------------------------------------------
[ Input ]*/

#contact .wrapContact .wrapForm form .input {
  display: block;
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #333333;
  line-height: 1.2;
}

#contact .wrapContact .wrapForm form .wrap-input {
  margin-bottom: 30px;
}

#contact .wrapContact .wrapForm form .wrapNameMail .wrap-input input {
  width: 100%;
  height: 60px;
  padding: 0 20px 0 25px;
  font-size: 16px;
}

#contact .wrapContact .wrapForm form .wrapNameMail .wrap-input .inputMail {
  margin: 0px 0px 0px auto;
}

textarea.input {
  min-height: 150px;
  padding: 25px 20px 15px 25px;
  font-size: 15px;
}

.input:focus {
  border-color: blueviolet;
}

@media (max-width: 700px) {
  #contact .wrapContact .wrapForm textarea.input {
    min-height: 125px;
  }
}

@media (max-width: 768px) {
  #contact .wrapContact .wrapForm form .wrapNameMail .wrap-input input {
    width: 100%;
    margin: unset;
  }
}

@media (max-width: 545px) {
  #contact .wrapContact .wrapForm form .wrapNameMail .wrap-input input {
    height: 46px;
  }
}
/*------------------------------------------------------------------
[ Button ]*/
.container-contact-form-btn {
  width: 100%;
}

.contact-form-btn {
  padding: 0 20px;
  min-width: 100px;
  height: 50px;
  background-color: #ff4b5a;
  border-radius: 2px;
  border: none;

  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  transition: all 0.4s;
}

.contact-form-btn:hover {
  background-color: #333333;
}

@media (max-width: 545px) {
  .contact-form-btn {
    min-width: 82px;
    height: 40px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;
  font-family: OpenSans-Regular;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

/* *************************** Coordonnées ************************* */

#contact .coordonnees {
  position: relative;
  height: 300px;
  margin-bottom: 80px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 92px 20px 0px 20px;
  background-color: rgba(255, 255, 255, 0.815);
}

#contact .coordonnees h3 {
  margin-bottom: 30px;
}

#contact .coordonnees .separatorCoord {
  border-top: 1px black solid;
  padding-bottom: 20px;
  width: 150px;
}

@media (max-width: 960px) {
  #contact .coordonnees {
    height: 260px;
    padding: 80px 20px 0px 20px;
  }
}

/* ***************************Footer ********************************* */

footer {
  height: 30px;
  text-align: center;
}
@media (max-width: 420px) {
  footer {
    font-size: 1.2rem;
  }
}
