/**********Style Globaux**********/
body {
  color: black;
  font-family: "Barlow", Arial, Helvetica, sans-serif;
}
.container1 {
}

h2 {
  font-size: 1.7em;
  display: inline-block;
  margin: 60px 0px 50px 0px;
  text-align: center;
  letter-spacing: 0.1rem;
}

h2.parallaxTitle {
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.815);
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  border: none;
}
.parallax-mirror {
  opacity: 0.8;
}

span.icon {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100px;
  width: 100px;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  background: #fff;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
}

span.icon img {
  max-width: 49px;
}

/************************ Header *****************************/

header .navbar {
  background-color: rgb(46, 45, 45);
  font-size: 20px;
}

header .navbar a {
  margin: 0px 20px;
  color: white;
}

.navbar-toggler {
  border-color: white;
}
.navbar-toggler-icon {
  background-color: white;
  border: none;
  outline: none;
}

.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background-color: white;
}
.navbar-toggler span + span {
  margin-top: 6px;
  width: 18px;
  margin-left: 4px;
}

.navbar-toggler span + span + span {
  width: 14px;
  margin-left: 8px;
}

.parallax {
  background: transparent;
}

.parallaxHeader {
  position: relative;
  margin-bottom: 100px;
}

header .text {
  height: 70vh;
}

header h1 {
  font-size: 3em;
}
header h1 #firstName {
  letter-spacing: 0.1em;
}

header .text p {
  font-size: 1.3em;
}

/********** Bio **********/
#bio {
  margin-bottom: 100px;
}
#bio img {
  height: 200px;
  margin-right: 50px;
}

#bio article p {
  text-align: justify;
}

/************************* Ecosystème ******************************/

.parallaxTech {
  position: relative;
  height: 110vh;
}
.containerLeft {
  position: relative;
  width: 50%;

  height: 100vh;
}

#tech .containerShadow {
  background-color: rgba(255, 255, 255, 0.815);

  height: 550px;
  width: 550px;
  /* margin: auto; */
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
}

#tech #logoContainer {
  position: relative;
  width: 80%;
  height: 80%;
}

#tech #logoContainer img {
  position: absolute;
  transform: translate(-50%, -50%);
}
#tech #symfony {
  width: 35%;
}
#tech #spring {
  width: 30%;
}
#tech #scrum {
  width: 25%;
}
#tech #jsp {
  width: 20%;
}
#tech #bootstrap {
  width: 30%;
}
#tech #github {
  width: 30%;
}
#tech #mariadb {
  width: 20%;
}
#tech img {
  width: 20%;
}
@media (max-width: 1200px) {
  .parallaxTech {
    padding-bottom: 80px;
    height: unset;
  }
  #tech .containerLeft {
    height: 100%;
    margin: auto;
  }
}

/* ************* Valeurs ********* */
#tech article {
  width: 50%;
}
#tech article .textValeur {
  background-color: rgba(255, 255, 255, 0.795);
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  height: 550px;
  width: 550px;
  border-radius: 10px;
  padding: 30px 20px;
}

#tech article .textValeur .iconValeur {
  display: flex;
  align-items: center;
}
#tech article .textValeur .iconValeur img {
  width: 40px;
  margin-right: 10px;
}
#tech article .textValeur .iconValeur h3 {
  margin: 0px 0px;
}
#tech article .textValeur p {
  margin: 15px 0px 15px 0px;
}

@media (max-width: 1200px) {
  #tech article {
    width: unset;
  }
  #tech article .textValeur {
    height: unset;
  }
}

/************* Caroussel ********** */

#caroussel {
  height: 100vh;
  position: relative;
}

.myContainer {
  max-width: 95%;
  margin: auto auto;
}

#caroussel .carousselContainer .items {
  width: 250px;
  margin: 50px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#caroussel .carousselContainer .items img {
  width: 100%;
  /* height: 200px; */
  border-radius: 10px;
}
.slick-slide {
  transform: scale(0.8);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.slick-center {
  transform: scale(1);
}

.arrowPrev,
.arrowNext {
  position: absolute;
  width: 40px;
  top: 50%;
  z-index: 100;
}

.arrowPrev {
  right: 3%;
}
.arrowNext {
  left: 3%;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 80px;
}

/* ************************Caroussel link ********************** */

#caroussel .carousselContainer .items div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
#caroussel .carousselContainer .items a:first-child {
  display: inline-block;
  padding: 5px 15px;
  background-color: gray;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#caroussel .carousselContainer .items div img {
  width: 30px;
  height: auto;
}

#caroussel .carousselContainer .items div .logoAlone {
  background-color: white;
}

/* ************************** Contact ****************************** */

/* .parallaxContact {
  position: relative;
  height: 120vh;
} */

#contact h2 {
  margin: 60px 0px 100px 0px;
}

#contact .wrapContact {
  width: 100%;
  /* margin: auto auto; */
}
#contact .wrapContact .wrapForm {
  margin: auto auto;
}

/* ********************* Formulaire ******************************** */

#contact .wrapContact .wrapForm {
  width: 100%;
  position: relative;
  padding: 92px 70px 88px 70px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.815);
}

#contact .wrapContact .wrapForm .validate-form span {
  display: flex;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  padding-bottom: 43px;
}

/*------------------------------------------------------------------
[ Input ]*/

#contact .wrapContact .wrapForm form .input {
  display: block;
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  font-family: OpenSans-Regular;
  color: #333333;
  line-height: 1.2;
}

#contact .wrapContact .wrapForm form .wrap-input {
  margin-bottom: 30px;
}

#contact .wrapContact .wrapForm form .wrapNameMail input {
  height: 60px;
  padding: 0 20px 0 25px;
  font-size: 20px;
}

textarea.input {
  min-height: 199px;
  padding: 25px 20px 15px 25px;
  font-size: 15px;
}

.input:focus {
  border-color: blueviolet;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact-form-btn {
  width: 100%;
}

.contact-form-btn {
  padding: 0 20px;
  min-width: 100px;
  height: 50px;
  background-color: #ff4b5a;
  border-radius: 2px;
  border: none;
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  transition: all 0.4s;
}

.contact-form-btn:hover {
  background-color: #333333;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;
  font-family: OpenSans-Regular;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

/* @media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
} */

/* *************************** Coordonnées ************************* */

#contact .coordonnees {
  position: relative;
  height: 300px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 92px 20px 0px 20px;
  background-color: rgba(255, 255, 255, 0.815);
}

#contact .coordonnees h3 {
  margin-bottom: 30px;
}

#contact .coordonnees .separatorCoord {
  border-top: 1px black solid;
  padding-bottom: 20px;
  width: 150px;
}

/* ***************************Footer ********************************* */

footer {
  height: 40px;
}

/* 
#tech article .textValeur {
  background-color: rgba(255, 255, 255, 0.795);
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  height: 40vw;
  width: 40vw;
  border-radius: 10px;
  padding: 30px 20px;
} */
